.sign-up{
	width: 360px;
	height: 620px;
	margin: auto;
	margin-top: 30px;
}

form input {
	width: 100%;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 5px;

}

h1 {
	text-align: center;
	padding-top: 15px;
}

h4 {
	text-align: center;
}

form {
	width: 300px;
	margin-left: 20px;
}

form label{
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}

form input{
	width: 100%;
}

input[type="submit"]{
	width: 320px;
	height: 35px;
	margin-top: 20px;
	background-color: skyblue;
	color: white;
}

